<p>
  <b>Tache:</b>
  <%=h @etiquetage.tache.description %>
</p>

<p>
  <b>Tag:</b>
  <%=h @etiquetage.tag.description %>
</p>


<%= link_to 'Edit', edit_admin_etiquetage_path(@etiquetage) %> |
<%= link_to 'Back', admin_etiquetages_path %>