<ul id='menu'>
	<li class='first active'><%= link_to 'Projet', admin_projet_path %></li>
	<li><%= link_to 'Tags', admin_tags_path %></li>
	<li><%= link_to 'Etiquetages', admin_etiquetages_path %></li>
	<li class='last'><%= link_to 'Retour à Paco', root_path %></li>
</ul>